name: Build and Push Docker Image

on:
  push:
    branches:
      - main  # Chỉnh thành 'master' nếu nhánh của bạn tên là master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: masterhuthiu/movie-classifier:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}